@charset "UTF-8";
*{
    /*reset css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200px;
    
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../imgAlbum/fundo2.jpg);
    background-repeat:round;
    
    /* background-size: 100%; */
}

section table {
    
   float: none;
   height: 10px;
   width: auto;
   margin: 0px 0px 0px 30px;
   padding: 0px 0px 0px 0px;
   border: 1px solid #ef0909;
    /* background-color: blueviolet; */
}

section h2 {
    /* clear: both; */
    clear: none;
    text-align: center;
    padding: 0px 50px 00px 50px;
    font-size: 80px;
    float: right;   
    height: 0px;
    width: 800px;
    margin: 0px 200px 0px 50px;
    background-color: rgb(173, 12, 12);
}

section thead, th{
    padding: 0px 20px 50px 0px;
    margin: auto;
    float:none;
    text-align: center;
    font-size: 60px;
    
    border: 1px solid #ef0909;;
    margin: 0px 20px 30px 0px;
}
section tr, th, .tituloTabela  {
    color: aliceblue;
    height: 0px;
    width: 0px;
    padding: 0px 0px 0px 0px;
}

thead, th, .figura{
    
    height: 150px;
    width: 150px;

    
}
thead, th{
    height: 155px;
}

tbody, tr, td, option{
    text-align: center;
    border: 1px solid #ef0909;
    

}