@charset "UTF-8";
/*Configuração do corpo da página*/

body{
    
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

/* Configuração gerais*/
/* cabeçalho*/

header{
    height: 170px;
    background-color: rgb(173, 12, 12);
}

header .esquerdo{
    float: left;
    height: 270px;
    width: 200px;
    margin-right: 0px;
    

}
h1 {
    float: left;    
    margin: 50px 5px 5px 250px;
    font-size: 60px;


}
 header .direito    {
    float: right;
    height: 275px;
    width: 200px;
    margin-right: 0px;
} 

/*menu */

nav {
    clear: both;
    float: left;
    height: auto;
    width: 0;
    width: 160px;
    margin: 0px 2px 5px 20px ;
    background-color: rgb(173, 12, 12);
}
nav a {
    color: rgb(246, 9, 9);
    text-decoration: none;
    text-align: center;

}
nav .opcao {
    float: right; 
    width: 95%;
    margin: 5px  ;
    padding: 10px 0;
    font-size: 36px;
    background: #101010;
    
}

nav .opcao:hover {

    background-color: #b5b3b3;
}
/* Área geral para conteúdos específicos de cada página*/

section #topo{
    
    float:right;
    height: 260px;
    width: 240px ;
    margin: 0px 10px 1px 190px;

    background-color: #aba5a5;
}
.figura {
    height: 296px;
    width: 240px;
}
h2 {
            
    float:left;
    text-align: center;
    font-size: 55px;
    height: 140px;
    width: 200px;
    margin: -95px 1px 10px -750px;
    /* background-color: #6b5cb4; */

}

section #titulo{
    float:right;
    height: 250px;
    width: 200px;
    margin: -50px 1px 100px 50px;
    background-color: #6b5cb4;
}

.abaixo{
    /* float:right; */
    height: 280px;
    width: 240px;
    /* margin: 0px 0px 0px 0px;
    background-color: #6b5cb4; */

}

footer {
    clear: both;
    background-color:  rgb(173, 12, 12);
    text-align: center;
    padding: 10px;

}




